In [23]:
import pandas as pd

# Asutralian Data
aus_file = pd.read_csv (r'Resources/Australian Vaccinations.txt')
aus_file.to_csv (r'Resources/Australian Vaccinations.csv', index=None)

# USA Data
usa_file = pd.read_csv (r'Resources/USA Vaccinations.txt')
usa_file.to_csv (r'Resources/USA Vaccinations.csv', index=None)

# South Korea Data
skr_file = pd.read_csv (r'Resources/South Korea Vaccinations.txt')
skr_file.to_csv (r'Resources/South Korea Vaccinations.csv', index=None)

In [25]:
# Drop columns
aus_df = aus_file[aus_file['total_vaccinations'] > 0].reset_index( drop = True)
aus_df = aus_df.drop(columns=['source_url', 'total_boosters'])

usa_df = usa_file[usa_file['total_vaccinations'] > 0].reset_index( drop = True)
usa_df = usa_df.drop(columns=['source_url', 'total_boosters'])

skr_df = skr_file[skr_file['total_vaccinations'] > 0].reset_index( drop = True)
skr_df = skr_df.drop(columns=['source_url', 'total_boosters'])

In [26]:
# Second Australian Data for partial/full vaccination data
aus_df2 = aus_df[aus_df['people_fully_vaccinated'] > 0].reset_index(drop = True)
aus_df2

,date,total_vaccinations,people_fully_vaccinated,people_vaccinated,vaccine,location
0,2021-05-24,3613053,416293.0,3196760.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Australia
1,2021-05-25,3690622,419237.0,3271385.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Australia
2,2021-05-26,3795280,472882.0,3322398.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Australia
3,2021-05-27,3906668,481681.0,3424987.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Australia
4,2021-05-28,4031539,491319.0,3540220.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Australia
...,...,...,...,...,...,...
105,2021-09-13,22802573,8711193.0,14091380.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Australia
106,2021-09-14,23078749,8852319.0,14226430.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Australia
107,2021-09-15,23362740,8995310.0,14367430.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Australia
108,2021-09-16,23751922,9142725.0,14609197.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Australia
109,2021-09-17,24054063,9285348.0,14768715.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Australia

In [40]:
# Merge Aus and US data
merged_df = aus_df.merge(usa_df, how = 'inner', on='date', suffixes = ('_aus','_us'))

# Remove unused columns
merged_df = merged_df.drop(columns=['vaccine_aus', 'location_aus', 'vaccine_us', 'location_us'])
merged_df

,date,total_vaccinations_aus,people_fully_vaccinated_aus,people_vaccinated_aus,total_vaccinations_us,people_vaccinated_us,people_fully_vaccinated_us
0,2021-02-22,20,0.0,20.0,64177474,44138118.0,19438495.0
1,2021-02-23,2879,0.0,2879.0,65032083,44544969.0,19882544.0
2,2021-02-24,6908,0.0,6908.0,66464947,45237143.0,20607261.0
3,2021-02-25,17500,0.0,17500.0,68274117,46074392.0,21555117.0
4,2021-02-26,25000,0.0,25000.0,70454064,47184199.0,22613359.0
...,...,...,...,...,...,...,...
192,2021-09-13,22802573,8711193.0,14091380.0,380831725,209701005.0,178982950.0
193,2021-09-14,23078749,8852319.0,14226430.0,381453265,209982936.0,179289983.0
194,2021-09-15,23362740,8995310.0,14367430.0,382294795,210361099.0,179695287.0
195,2021-09-16,23751922,9142725.0,14609197.0,383038403,210700361.0,180086143.0
196,2021-09-17,24054063,9285348.0,14768715.0,383994877,211097597.0,180572171.0

In [44]:
# Merge with South Korean data
merged_df2 = merged_df.merge(skr_df, how = 'inner', on='date', suffixes = ('','_skr'))

# Remove unused columns
merged_df2 = merged_df2.drop(columns=['vaccine', 'location'])

,date,total_vaccinations_aus,people_fully_vaccinated_aus,people_vaccinated_aus,total_vaccinations_us,people_vaccinated_us,people_fully_vaccinated_us,total_vaccinations,people_vaccinated,people_fully_vaccinated
0,2021-02-26,25000,0.0,25000.0,70454064,47184199.0,22613359.0,24540,22694,1854
1,2021-02-27,30000,0.0,30000.0,72806180,48435536.0,23698627.0,25966,24120,1854
2,2021-02-28,31894,0.0,31894.0,75236003,49772180.0,24779920.0,26830,24984,1854
3,2021-03-01,33702,0.0,33702.0,76899987,50732997.0,25466405.0,28364,26518,1856
4,2021-03-02,41907,0.0,41907.0,78631601,51755447.0,26162122.0,94794,92946,1858
...,...,...,...,...,...,...,...,...,...,...
187,2021-09-12,22669372,8658267.0,14011105.0,380241903,209437152.0,178692875.0,51918096,33180367,20088923
188,2021-09-13,22802573,8711193.0,14091380.0,380831725,209701005.0,178982950.0,53161664,34008332,20511816
189,2021-09-14,23078749,8852319.0,14226430.0,381453265,209982936.0,179289983.0,53977761,34610262,20736211
190,2021-09-15,23362740,8995310.0,14367430.0,382294795,210361099.0,179695287.0,54783645,34986293,21176113
191,2021-09-16,23751922,9142725.0,14609197.0,383038403,210700361.0,180086143.0,55514851,35414516,21489009

In [ ]:
# Extract total vaccinations