In [23]:
import pandas as pd

# Asutralian Data
aus_file = pd.read_csv (r'Resources/Australian Vaccinations.txt')
aus_file.to_csv (r'Resources/Australian Vaccinations.csv', index=None)

# USA Data
usa_file = pd.read_csv (r'Resources/USA Vaccinations.txt')
usa_file.to_csv (r'Resources/USA Vaccinations.csv', index=None)

# South Korea Data
skr_file = pd.read_csv (r'Resources/South Korea Vaccinations.txt')
skr_file.to_csv (r'Resources/South Korea Vaccinations.csv', index=None)

In [25]:
# Drop columns
aus_df = aus_file[aus_file['total_vaccinations'] > 0].reset_index( drop = True)
aus_df = aus_df.drop(columns=['source_url', 'total_boosters'])

usa_df = usa_file[usa_file['total_vaccinations'] > 0].reset_index( drop = True)
usa_df = usa_df.drop(columns=['source_url', 'total_boosters'])

skr_df = skr_file[skr_file['total_vaccinations'] > 0].reset_index( drop = True)
skr_df = skr_df.drop(columns=['source_url', 'total_boosters'])

In [26]:
# Second Australian Data for partial/full vaccination data
aus_df2 = aus_df[aus_df['people_fully_vaccinated'] > 0].reset_index(drop = True)
aus_df2

,date,total_vaccinations,people_fully_vaccinated,people_vaccinated,vaccine,location
0,2021-05-24,3613053,416293.0,3196760.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Australia
1,2021-05-25,3690622,419237.0,3271385.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Australia
2,2021-05-26,3795280,472882.0,3322398.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Australia
3,2021-05-27,3906668,481681.0,3424987.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Australia
4,2021-05-28,4031539,491319.0,3540220.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Australia
...,...,...,...,...,...,...
105,2021-09-13,22802573,8711193.0,14091380.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Australia
106,2021-09-14,23078749,8852319.0,14226430.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Australia
107,2021-09-15,23362740,8995310.0,14367430.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Australia
108,2021-09-16,23751922,9142725.0,14609197.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Australia
109,2021-09-17,24054063,9285348.0,14768715.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Australia

In [30]:
usa_df

,location,total_vaccinations,date,vaccine,people_vaccinated,people_fully_vaccinated
0,United States,556208,2020-12-20,Pfizer/BioNTech,556208.0,NaN
1,United States,614117,2020-12-21,Pfizer/BioNTech,614117.0,NaN
2,United States,1008025,2020-12-23,"Moderna, Pfizer/BioNTech",1008025.0,NaN
3,United States,1944585,2020-12-26,"Moderna, Pfizer/BioNTech",1944585.0,NaN
4,United States,2127143,2020-12-28,"Moderna, Pfizer/BioNTech",2127143.0,NaN
...,...,...,...,...,...,...
249,United States,380831725,2021-09-13,"Johnson&Johnson, Moderna, Pfizer/BioNTech",209701005.0,178982950.0
250,United States,381453265,2021-09-14,"Johnson&Johnson, Moderna, Pfizer/BioNTech",209982936.0,179289983.0
251,United States,382294795,2021-09-15,"Johnson&Johnson, Moderna, Pfizer/BioNTech",210361099.0,179695287.0
252,United States,383038403,2021-09-16,"Johnson&Johnson, Moderna, Pfizer/BioNTech",210700361.0,180086143.0
253,United States,383994877,2021-09-17,"Johnson&Johnson, Moderna, Pfizer/BioNTech",211097597.0,180572171.0

In [31]:
skr_df

,location,date,vaccine,total_vaccinations,people_vaccinated,people_fully_vaccinated
0,South Korea,2021-02-26,Oxford/AstraZeneca,24540,22694,1854
1,South Korea,2021-02-27,"Oxford/AstraZeneca, Pfizer/BioNTech",25966,24120,1854
2,South Korea,2021-02-28,"Oxford/AstraZeneca, Pfizer/BioNTech",26830,24984,1854
3,South Korea,2021-03-01,"Oxford/AstraZeneca, Pfizer/BioNTech",28364,26518,1856
4,South Korea,2021-03-02,"Oxford/AstraZeneca, Pfizer/BioNTech",94794,92946,1858
...,...,...,...,...,...,...
198,South Korea,2021-09-12,"Oxford/AstraZeneca, Pfizer/BioNTech, Johnson&J...",51918096,33180367,20088923
199,South Korea,2021-09-13,"Oxford/AstraZeneca, Pfizer/BioNTech, Johnson&J...",53161664,34008332,20511816
200,South Korea,2021-09-14,"Oxford/AstraZeneca, Pfizer/BioNTech, Johnson&J...",53977761,34610262,20736211
201,South Korea,2021-09-15,"Oxford/AstraZeneca, Pfizer/BioNTech, Johnson&J...",54783645,34986293,21176113
202,South Korea,2021-09-16,"Oxford/AstraZeneca, Pfizer/BioNTech, Johnson&J...",55514851,35414516,21489009

In [ ]:
merged_df = pd.merge